# Enable URL rewriting
RewriteEngine On

# Disable directory browsing
Options -Indexes

# Rewrite rules to redirect all traffic to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Deny access to migrate.php
RewriteRule ^migrate.php - [F]

# Disable notices
<IfModule mod_php7.c>
    php_flag display_errors on
    php_flag display_startup_errors on
    php_value error_reporting E_ALL & ~E_NOTICE
</IfModule>